In [7]:
conda install -c conda-forge pytrends

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.1
  latest version: 4.12.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /opt/anaconda3

  added / updated specs:
    - pytrends


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.12.0               |   py38h50d1736_0        1020 KB  conda-forge
    python_abi-3.8             |           2_cp38           4 KB  conda-forge
    pytrends-4.8.0             |     pyhd8ed1ab_0          18 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.0 MB

The following NEW packages will be INSTALLED:

  python_abi         conda-forge/osx-64::python_abi-3.8-2_cp38
  pytrends           conda-forge/noarch::pytrends-4.8.0-pyhd8ed1ab_0

The following packages will be UPDATED:

  conda              pkgs/main::conda-4.10.1-py38hecd8cb5_1 --> conda-forge::conda-4.12.0-py38h50d1736_0



Downloading and Extracting Packages
conda-4.12.0         | 1020 KB   | ##################################### | 100%
python_abi-3.8       | 4 KB      | ##################################### | 100%
pytrends-4.8.0       | 18 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [28]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US')

kw_list = ["Ixom", "Hardman", "Orica Chemicals", "Coogee Chemicals", "Cleveland Bay"]
pytrends.build_payload(kw_list, cat=12, timeframe='2004-01-01 2015-03-01', geo='AU', gprop='')
data_before_2015 = pytrends.interest_over_time()
pytrends.build_payload(kw_list, cat=12, timeframe='2015-03-01 2022-04-01', geo='AU', gprop='')
data_after_2015 = pytrends.interest_over_time()

In [29]:
mean_before = round(data_before_2015.mean(), 2)
mean_after = round(data_after_2015.mean(), 2)
for kw in kw_list:
    print(kw + ":" + str(mean_before[kw]))

Ixom:0.01
Hardman:12.64
Orica Chemicals:4.63
Coogee Chemicals:5.33
Cleveland Bay:0.89

In [30]:
for kw in kw_list:
    print(kw + ":" + str(mean_after[kw]))

Ixom:33.63
Hardman:18.34
Orica Chemicals:8.22
Coogee Chemicals:23.59
Cleveland Bay:12.15

In [31]:
data_after_2015

,Ixom,Hardman,Orica Chemicals,Coogee Chemicals,Cleveland Bay,isPartial
date,,,,,,
2015-03-01,27,54,9,29,18,False
2015-04-01,62,38,67,10,0,False
2015-05-01,29,9,45,20,0,False
2015-06-01,30,28,0,31,0,False
2015-07-01,29,9,18,29,19,False
...,...,...,...,...,...,...
2021-12-01,27,25,0,18,9,False
2022-01-01,33,15,8,42,16,False
2022-02-01,29,18,0,39,9,False
2022-03-01,49,38,8,17,32,False
2022-04-01,49,0,16,16,33,True