In [1]:
import pandas as pd
sales_data = pd.read_excel('Data files for UniMelb Project - data until 2021/Sales Data.xlsx')
stateless_data = pd.read_csv('Data files for UniMelb Project - data until 2021/stateless.csv')
stateless_data

     SH_Customer No      SH_Customer City  SH_Customer Post Code
0        0000000286          WACOL.   QLD                 4076.0
1        0000000559  SALISBURY SOUTH   SA                 5106.0
2        0000000741                SYDNEY                 2052.0
3        0000000744             Dandenong                 3175.0
4        0000000746              SUNSHINE                 3020.0
...             ...                   ...                    ...
1563       WONETIME                   NaN                    NaN
1564       WR GRACE                   NaN                    NaN
1565     WUNDERLICH                   NaN                    NaN
1566           YANG                   NaN                    NaN
1567           YMCA                   NaN                    NaN

[1568 rows x 3 columns]

In [2]:
sales_data = sales_data.drop(sales_data[sales_data['Confirmed Quantity']==0].index) #Drop data with 0 confirmed quantity

In [3]:
sales_data['Quantity in L'] = 'undefined' # Initialise

In [4]:
sales_data.head()

,Sold-To Party,Name 1,Material,Description,Delivery Date,Confirmed Quantity,Sales Unit,Plant,Ship-To Party,Ship-to party name 1,Quantity in L
0,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2021-02-01,8.0,DRM,S106,64679,WIRRINA WTP,undefined
1,11611,Trility Pty Ltd,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-21,4.0,DRM,S106,57395,Birdwood WWTP,undefined
2,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-18,8.0,DRM,S106,64679,WIRRINA WTP,undefined
3,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,8.0,DRM,S106,64679,WIRRINA WTP,undefined
4,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,6.0,DRM,S106,64679,WIRRINA WTP,undefined

In [5]:
#Convert KG into TO
sales_data.loc[sales_data['Sales Unit']=='KG', 'Confirmed Quantity'] = sales_data['Confirmed Quantity']/1000
sales_data.loc[sales_data['Sales Unit']=='KG', 'Sales Unit'] = 'TO'

In [6]:
#Convert all units into L
sales_data.loc[sales_data['Sales Unit']=='DRM', 'Quantity in L'] = sales_data['Confirmed Quantity']*200
sales_data.loc[sales_data['Sales Unit']=='BOX', 'Quantity in L'] = sales_data['Confirmed Quantity']*1000
sales_data.loc[sales_data['Sales Unit']=='PLY', 'Quantity in L'] = sales_data['Confirmed Quantity']*15
sales_data.loc[sales_data['Sales Unit']=='IBC', 'Quantity in L'] = sales_data['Confirmed Quantity']*1000
sales_data.loc[sales_data['Sales Unit']=='KL', 'Quantity in L'] = sales_data['Confirmed Quantity']*1000
sales_data.loc[sales_data['Sales Unit']=='L', 'Quantity in L'] = sales_data['Confirmed Quantity']*1
sales_data.loc[(sales_data['Sales Unit']=='PLS') & (sales_data['Material'].str.contains('MHL-22.5PAIL')), 'Quantity in L'] = sales_data['Confirmed Quantity']*15
sales_data.loc[(sales_data['Sales Unit']=='PLS') & (sales_data['Material'].str.contains('PAC23-15')), 'Quantity in L'] = sales_data['Confirmed Quantity']*15
sales_data.loc[(sales_data['Sales Unit']=='PLS') & (sales_data['Material'].str.contains('SODHYP12PM-12.5')), 'Quantity in L'] = sales_data['Confirmed Quantity']*12.5
sales_data.loc[(sales_data['Sales Unit']=='PLS') & (sales_data['Material'].str.contains('SODHYP12PM-15')), 'Quantity in L'] = sales_data['Confirmed Quantity']*15
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('ALUSUL08')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.31)
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('MHL')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.5)
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('PAC10')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.19)
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('PAC23')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.34)
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('SODHYP')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.2)

In [7]:
sales_data

,Sold-To Party,Name 1,Material,Description,Delivery Date,Confirmed Quantity,Sales Unit,Plant,Ship-To Party,Ship-to party name 1,Quantity in L
0,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2021-02-01,8.0,DRM,S106,64679,WIRRINA WTP,1600
1,11611,Trility Pty Ltd,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-21,4.0,DRM,S106,57395,Birdwood WWTP,800
2,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-18,8.0,DRM,S106,64679,WIRRINA WTP,1600
3,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,8.0,DRM,S106,64679,WIRRINA WTP,1600
4,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,6.0,DRM,S106,64679,WIRRINA WTP,1200
...,...,...,...,...,...,...,...,...,...,...,...
228427,7650,Bartter Enterprises,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-12-17,1615.0,L,N106,37418,CHICKEN PLANT-- Steggles /Bartter,1615
228428,6190,YMCA Singleton Swim & Fitness,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-12-17,1650.0,L,N106,6190,YMCA Singleton Swim & Fitness,1650
228429,8029,Paper Australia Pty Ltd,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-11-28,1100.0,L,V127,40241,AP Maryvale Mill - Cooling Towers,1100
228430,7650,Bartter Enterprises,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-01-08,839.0,L,N106,37417,TURKEY PLANT- Steggles /Bartter,839
228431,7650,Bartter Enterprises,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-01-08,839.0,L,N106,37417,TURKEY PLANT- Steggles /Bartter,839

In [ ]:
sales_data['Quantity in L'] == 'undefined'