In [71]:
from datetime import datetime
import pandas as pd
sales_data = pd.read_excel('Data files for UniMelb Project - data until 2021/Sales Data.xlsx')
stateless_data = pd.read_excel('Data files for UniMelb Project - data until 2021/stateless.xlsx')

In [72]:
act = pd.read_excel('Data files for UniMelb Project - data until 2021/act.xlsx')
nsw = pd.read_excel('Data files for UniMelb Project - data until 2021/nsw.xlsx')
nt = pd.read_excel('Data files for UniMelb Project - data until 2021/nt.xlsx')
qld = pd.read_excel('Data files for UniMelb Project - data until 2021/qld.xlsx')
sa = pd.read_excel('Data files for UniMelb Project - data until 2021/sa.xlsx')
tas = pd.read_excel('Data files for UniMelb Project - data until 2021/tas.xlsx')
vic = pd.read_excel('Data files for UniMelb Project - data until 2021/vic.xlsx')
wa = pd.read_excel('Data files for UniMelb Project - data until 2021/wa.xlsx')

In [5]:
sales_data.head()

,Sold-To Party,Name 1,Material,Description,Delivery Date,Confirmed Quantity,Sales Unit,Plant,Ship-To Party,Ship-to party name 1
0,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2021-02-01,8.0,DRM,S106,64679,WIRRINA WTP
1,11611,Trility Pty Ltd,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-21,4.0,DRM,S106,57395,Birdwood WWTP
2,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-18,8.0,DRM,S106,64679,WIRRINA WTP
3,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,8.0,DRM,S106,64679,WIRRINA WTP
4,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,6.0,DRM,S106,64679,WIRRINA WTP

In [19]:
# Covert data type
sales_data['Sold-To Party']= sales_data['Sold-To Party'].astype(str)
sales_data['Sold-To Party']= sales_data['Sold-To Party'].astype(str)

In [20]:
# Collecting stateless corps
stateless_corp = []
for i in stateless_data['SH_Customer No']:
    stateless_corp.append(i)

In [21]:
# Drop data with 0 confirmed quantity and corps which are not in Australia
sales_data = sales_data.drop(sales_data[sales_data['Confirmed Quantity']==0].index) 
sales_data = sales_data.drop(sales_data[sales_data['Sold-To Party'].isin(stateless_corp)].index)

In [22]:
sales_data['Quantity in L'] = 'undefined' # Initialise

In [23]:
sales_data.head()

,Sold-To Party,Name 1,Material,Description,Delivery Date,Confirmed Quantity,Sales Unit,Plant,Ship-To Party,Ship-to party name 1,Quantity in L
0,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2021-02-01,8.000,DRM,S106,64679,WIRRINA WTP,undefined
1,11611,Trility Pty Ltd,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-21,4.000,DRM,S106,57395,Birdwood WWTP,undefined
2,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-18,8.000,DRM,S106,64679,WIRRINA WTP,undefined
3,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,8.000,DRM,S106,64679,WIRRINA WTP,undefined
4,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,6.000,DRM,S106,64679,WIRRINA WTP,undefined

In [24]:
#Convert KG into TO
sales_data.loc[sales_data['Sales Unit']=='KG', 'Confirmed Quantity'] = sales_data['Confirmed Quantity']/1000
sales_data.loc[sales_data['Sales Unit']=='KG', 'Sales Unit'] = 'TO'

In [25]:
#Convert all units into L
sales_data.loc[sales_data['Sales Unit']=='DRM', 'Quantity in L'] = sales_data['Confirmed Quantity']*200
sales_data.loc[sales_data['Sales Unit']=='BOX', 'Quantity in L'] = sales_data['Confirmed Quantity']*1000
sales_data.loc[sales_data['Sales Unit']=='PLY', 'Quantity in L'] = sales_data['Confirmed Quantity']*15
sales_data.loc[sales_data['Sales Unit']=='IBC', 'Quantity in L'] = sales_data['Confirmed Quantity']*1000
sales_data.loc[sales_data['Sales Unit']=='KL', 'Quantity in L'] = sales_data['Confirmed Quantity']*1000
sales_data.loc[sales_data['Sales Unit']=='L', 'Quantity in L'] = sales_data['Confirmed Quantity']*1
sales_data.loc[(sales_data['Sales Unit']=='PLS') & (sales_data['Material'].str.contains('MHL-22.5PAIL')), 'Quantity in L'] = sales_data['Confirmed Quantity']*15
sales_data.loc[(sales_data['Sales Unit']=='PLS') & (sales_data['Material'].str.contains('PAC23-15')), 'Quantity in L'] = sales_data['Confirmed Quantity']*15
sales_data.loc[(sales_data['Sales Unit']=='PLS') & (sales_data['Material'].str.contains('SODHYP12PM-12.5')), 'Quantity in L'] = sales_data['Confirmed Quantity']*12.5
sales_data.loc[(sales_data['Sales Unit']=='PLS') & (sales_data['Material'].str.contains('SODHYP12PM-15')), 'Quantity in L'] = sales_data['Confirmed Quantity']*15
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('ALUSUL08')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.31)
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('MHL')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.5)
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('PAC10')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.19)
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('PAC23')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.34)
sales_data.loc[(sales_data['Sales Unit']=='TO') & (sales_data['Material'].str.contains('SODHYP')), 'Quantity in L'] = sales_data['Confirmed Quantity']*(1000/1.2)

In [26]:
sales_data['Delivery Date'] = sales_data['Delivery Date'].dt.strftime('%Y-%m')

In [27]:
sales_data

,Sold-To Party,Name 1,Material,Description,Delivery Date,Confirmed Quantity,Sales Unit,Plant,Ship-To Party,Ship-to party name 1,Quantity in L
0,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2021-02,8.000,DRM,S106,64679,WIRRINA WTP,1600.000
1,11611,Trility Pty Ltd,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12,4.000,DRM,S106,57395,Birdwood WWTP,800.000
2,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12,8.000,DRM,S106,64679,WIRRINA WTP,1600.000
3,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11,8.000,DRM,S106,64679,WIRRINA WTP,1600.000
4,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11,6.000,DRM,S106,64679,WIRRINA WTP,1200.000
...,...,...,...,...,...,...,...,...,...,...,...
228427,7650,Bartter Enterprises,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-12,1615.000,L,N106,37418,CHICKEN PLANT-- Steggles /Bartter,1615.000
228428,6190,YMCA Singleton Swim & Fitness,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-12,1650.000,L,N106,6190,YMCA Singleton Swim & Fitness,1650.000
228429,8029,Paper Australia Pty Ltd,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-11,1100.000,L,V127,40241,AP Maryvale Mill - Cooling Towers,1100.000
228430,7650,Bartter Enterprises,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-01,839.000,L,N106,37417,TURKEY PLANT- Steggles /Bartter,839.000
228431,7650,Bartter Enterprises,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2009-01,839.000,L,N106,37417,TURKEY PLANT- Steggles /Bartter,839.000

In [28]:
sales_data[sales_data['Sales Unit'] == 'KL']

,Sold-To Party,Name 1,Material,Description,Delivery Date,Confirmed Quantity,Sales Unit,Plant,Ship-To Party,Ship-to party name 1,Quantity in L
120029,54190,Redox Pty Ltd - Giraween,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2019-06,21.080,KL,N106,18126,OWN CARTAGE Redox Giraween,21080.000
121044,54190,Redox Pty Ltd - Giraween,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2019-05,20.008,KL,N106,18126,OWN CARTAGE Redox Giraween,20008.000
121653,28404,Pental Products,SODHYP13-B,SODIUM HYPOCHLORITE 13% - BULK,2019-04,21.299,KL,V116,28404,Pental Products,21299.400

In [29]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
grouped_sales_data = sales_data.groupby(['Material', 'Delivery Date'])['Quantity in L'].sum().reset_index()
grouped_sales_data

           Material Delivery Date  Quantity in L
0     ALUSUL08-1000       2010-01      16000.000
1     ALUSUL08-1000       2010-02      11000.000
2     ALUSUL08-1000       2010-03      26000.000
3     ALUSUL08-1000       2010-04      45000.000
4     ALUSUL08-1000       2010-05      25977.099
...             ...           ...            ...
4142      SODHYP5-B       2020-12       4073.000
4143      SODHYP5-B       2021-01       3775.000
4144      SODHYP5-B       2021-02       3343.000
4145      SODHYP5-B       2021-03       3987.000
4146      SODHYP5-B       2021-04       6323.000

[4147 rows x 3 columns]

In [30]:
grouped_sales_data.to_csv('grouped sales data.csv', index=False)

In [31]:
grouped_sales_data[grouped_sales_data['Delivery Date'] == '2019-04']

               Material Delivery Date  Quantity in L
111       ALUSUL08-1000       2019-04      39740.458
150     ALUSUL08-1000NR       2019-04      10988.550
338          ALUSUL08-B       2019-04    2962774.809
474       ALUSUL08-FILT       2019-04      91603.053
559        ALUSUL08-FP4       2019-04      91603.053
696       ALUSUL08-M123       2019-04     282442.748
833         ALUSUL08-M4       2019-04     458015.267
953         ALUSUL08-M5       2019-04      91603.053
1090       ALUSUL08-PRI       2019-04     190839.695
1227       ALUSUL08-SEC       2019-04     251908.397
1333     ALUSUL08-SEWER       2019-04      91603.053
1388        MHL-1500IBC       2019-04      38000.000
1622              MHL-B       2019-04     406185.333
1757       PAC10LB-1000       2019-04       3008.403
1957         PAC23-1330       2019-04      55858.209
1987       PAC23-1330CL       2019-04      48000.000
2126       PAC23-1330NR       2019-04      32000.000
2234           PAC23-15       2019-04        254.776
2365            PAC23-B       2019-04     224023.881
2496     SODHYP-1000SNR       2019-04     137000.000
2708         SODHYP12-B       2019-04     221300.000
2867     SODHYP12.5-200       2019-04       1000.000
3149        SODHYP13-15       2019-04       2100.000
3216      SODHYP13-15NR       2019-04       2160.000
3351       SODHYP13-200       2019-04       3800.000
3490         SODHYP13-B       2019-04    7432243.200
3609      SODHYP13-FILT       2019-04      15000.000
3753   SODHYP13-M3M5C/T       2019-04      15000.000
3871  SODHYP13-RAWWATER       2019-04      20000.000
3989    SODHYP13-RECC/T       2019-04      15000.000

# give the state inform for each records

In [73]:
len(set(sales_data['Sold-To Party'].tolist()))

1083

In [74]:
sales_data['state of Sold-To Party'] = 'undefined' # Initialise

In [75]:
sales_data.head()

,Sold-To Party,Name 1,Material,Description,Delivery Date,Confirmed Quantity,Sales Unit,Plant,Ship-To Party,Ship-to party name 1,state of Sold-To Party
0,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2021-02-01,8.0,DRM,S106,64679,WIRRINA WTP,undefined
1,11611,Trility Pty Ltd,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-21,4.0,DRM,S106,57395,Birdwood WWTP,undefined
2,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-12-18,8.0,DRM,S106,64679,WIRRINA WTP,undefined
3,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,8.0,DRM,S106,64679,WIRRINA WTP,undefined
4,9477,SA Water Corporation,ALUSUL08-200,"ALUMINIUM SULFATE LIQUID, 200L drum",2020-11-12,6.0,DRM,S106,64679,WIRRINA WTP,undefined

In [76]:
act_customer_ls = act['SH_Customer No'].tolist()
nsw_customer_ls = nsw['SH_Customer No'].tolist()
nt_customer_ls = nt['SH_Customer No'].tolist()
qld_customer_ls = qld['SH_Customer No'].tolist()
sa_customer_ls = sa['SH_Customer No'].tolist()
tas_customer_ls = tas['SH_Customer No'].tolist()
vic_customer_ls = vic['SH_Customer No'].tolist()
wa_customer_ls = wa['SH_Customer No'].tolist()

In [96]:
flag = 0
for index, row in sales_data.iterrows():
    customer_id = str(row['Sold-To Party'])
    if customer_id in act_customer_ls:
        sales_data.loc[index, 'state of Sold-To Party'] = "act"
    elif customer_id in nsw_customer_ls:
        sales_data.loc[index, 'state of Sold-To Party'] = "nsw"
    elif customer_id in nt_customer_ls:
        sales_data.loc[index, 'state of Sold-To Party'] = "nt"
    elif customer_id in qld_customer_ls:
        sales_data.loc[index, 'state of Sold-To Party'] = "qld"
    elif customer_id in sa_customer_ls:
        sales_data.loc[index, 'state of Sold-To Party'] = "sa"
    elif customer_id in tas_customer_ls:
        sales_data.loc[index, 'state of Sold-To Party'] = "tas"
    elif customer_id in vic_customer_ls:
        sales_data.loc[index, 'state of Sold-To Party'] = "vic"
    elif customer_id in wa_customer_ls:
        sales_data.loc[index, 'state of Sold-To Party'] = "wa"

In [121]:
out_of_aus = ['Visy Trading Singapore Pte Ltd', 'nan','Aquachemie Limited', 'DuluxGroup (PNG) Pte Ltd',
            'Vale Nouvelle-Caledonie SAS', 'Ixom Operations Pty Ltd (NZ Branch)']

inside_aus_dict = {'GEO Remediation Company Pty Ltd': 'vic', 
                    'Mintech Chemical Industries Pty Ltd':'nt',
                    'Cleanco Queensland Limited': 'qld',
                    'RLX Operating Company Pty Limited': 'qld',
                    'Pyrocal Pty Ltd': 'qld',
                    'Lactos Pty Ltd - WCB': 'vic',
                    'Ixom Watercare Inc': 'vic',
                    'Opal Packaging Australia Pty Ltd': 'vic',
                    'Akron Group NT Pty Ltd': 'nt',
                    'Streamwisedi Pty Ltd': 'vic',
                    'DGL Environmental Pty Ltd': 'vic',
                    'Splashs Pakenham Pty Ltd': 'vic',
                    'Alto Water Environmental': 'nsw',
                    'Chemology Pty Ltd': 'sa',
                    'Global Resources Recovery': 'vic',
                    'Lindsay Park Racing Pty Ltd': 'vic',
                    'Optimel Pty. Ltd.': 'vic',
                    'Office Of Sport': 'nsw',
                    'Aquasol Water Treatment Solution': 'wa'}

In [125]:
for index, row in sales_data[sales_data['state of Sold-To Party'] == 'undefined'].iterrows():
    customer_name = str(row['Name 1'])
    if customer_name in out_of_aus:
        sales_data.loc[index, 'state of Sold-To Party'] = "international"
    else:
        if customer_name in list(inside_aus_dict.keys()):
            sales_data.loc[index, 'state of Sold-To Party'] = inside_aus_dict[customer_name]

In [128]:
#sales_data.to_csv('sales_data_with_state.csv')

In [132]:
# act_sale_data = sales_data[sales_data['state of Sold-To Party'] == 'act']
# new_sale_data = sales_data[sales_data['state of Sold-To Party'] == 'new']
# nt_sale_data = sales_data[sales_data['state of Sold-To Party'] == 'nt']
# qld_sale_data = sales_data[sales_data['state of Sold-To Party'] == 'qld']
# sa_sale_data = sales_data[sales_data['state of Sold-To Party'] == 'sa']
# tas_sale_data = sales_data[sales_data['state of Sold-To Party'] == 'tas']
# vic_sale_data = sales_data[sales_data['state of Sold-To Party'] == 'vic']
# wa_sale_data = sales_data[sales_data['state of Sold-To Party'] == 'wa']

In [136]:
# act_sale_data.to_csv('act_sale_data.csv')
# new_sale_data.to_csv('new_sale_data.csv')
# nt_sale_data.to_csv('nt_sale_data.csv')
# qld_sale_data.to_csv('qld_sale_data.csv')
# sa_sale_data.to_csv('sa_sale_data.csv')
# tas_sale_data.to_csv('tas_sale_data.csv')
# vic_sale_data.to_csv('vic_sale_data.csv')
# wa_sale_data.to_csv('wa_sale_data.csv')